{:paths ["src" "resources"]
 :deps  {mastodonc/kixi.plot                        {:git/url "https://github.com/MastodonC/kixi.plot.git"
                                                     :sha     "e1c744daddd248ad01c673eab4bfa6fb01d5f7e6"}
         mastodonc/kixi.large                       {:git/url "https://github.com/MastodonC/kixi.large.git"
                                                     :sha     "c593467394c7007b565fbd395afe00920c6d334d"}
         io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3"
                                                     :git/sha "a8711e9"}
         reducibles/reducibles                      {:mvn/version "0.3.0"}
         com.cognitect/transit-clj                  {:mvn/version "1.0.324"}
         org.clojure/core.async                     {:mvn/version "1.5.648"}}
 :aliases
 {:dev  {:extra-paths ["notebooks" "dev" "test"]
         :extra-deps  {org.clojure/clojure         {:mvn/version "1.11.1"}
                       io.github.nextjournal/clerk {:mvn/version "0.15.957"}
                       scicloj/tablecloth          {:mvn/version "7.014"
                                                    :exclusions  [techascent/tech.ml.dataset]}
                       techascent/tech.ml.dataset  {:mvn/version "7.019"}
                       nextjournal/clerk-slideshow
                       {:git/url    "https://github.com/nextjournal/clerk-slideshow"
                        :git/sha    "977003e581d78f4f554bb8ae73f877f4070925c3"
                        :exclusions [techascent/tech.ml.dataset io.github.nextjournal/clerk]}}}
  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}}}
