{:paths ["src" "resources"]
 :deps  {mastodonc/kixi.plot                        {:git/url "https://github.com/MastodonC/kixi.plot.git"
                                                     :sha     "e1c744daddd248ad01c673eab4bfa6fb01d5f7e6"}
         mastodonc/kixi.large                       {:git/url "https://github.com/MastodonC/kixi.large.git"
                                                     :sha     "bda0812f692b8521e8273ff8c7754499ee834b5e"}
         com.github.mastodonc/kixi.plugsocket      {;;:git/sha     "b4cdfe31128189b750e6ae08f12577b8d7868726"
                                                    :local/root  "../kixi.plugsocket/"
                                                    }
         io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3"
                                                     :git/sha "a8711e9"}
         reducibles/reducibles                      {:mvn/version "0.3.0"}
         com.cognitect/transit-clj                  {:mvn/version "1.0.324"}
         io.github.nextjournal/clerk                {:mvn/version "0.17.1102"}
         io.github.nextjournal/clerk-slideshow      {:git/sha "f9fb86430ebf533bfc9d5cec5bf0a94ed07146f3"}
         io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3"
                                                     :git/sha "a8711e9"}}
 :aliases
 {:jdk-17 {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                      "-Xlog:gc*:gc.log"
                      "-XX:+UseZGC"
                      "--add-modules" "jdk.incubator.foreign,jdk.incubator.vector"
                      "--enable-native-access=ALL-UNNAMED"]}
  :dev    {:extra-paths ["notebooks" "dev" "test"]
           :extra-deps  {}}
  :test   {:extra-paths ["test"]
           :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}}}
